<!-- Content wrapper scroll start -->
<div class="content-wrapper-scroll">

    <!-- Main header starts -->
    <div class="main-header d-flex align-items-center justify-content-between position-relative">
        <div class="d-flex align-items-center justify-content-center">
            <div class="page-icon pe-3">
                <i class="bi bi-stickies"></i>
            </div>
            <div class="page-title d-none d-md-block">
                <h5>Company Master</h5>
            </div>
        </div>
        <!-- Live updates start -->
        <ul class="updates d-flex align-items-end flex-column overflow-hidden" id="updates">
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-envelope-paper text-red font-2x me-2"></i>
                    <span>12 emails from David Michaiah.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-bar-chart text-blue font-2x me-2"></i>
                    <span>15new features updated successfully.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-folder-check text-yellow font-2x me-2"></i>
                    <span>The media folder is created successfully.</span>
                </a>
            </li>
        </ul>
        <!-- Live updates end -->
    </div>
    <!-- Main header ends -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Row start -->
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Create Company Master </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="createCompanyForm" (ngSubmit)="submitCompanyForm()">
                            <div class="create-invoice-wrapper">
                                <!-- Row start -->
                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <!-- Row start -->
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="customerName" class="form-label">Company Name</label>
                                                    <input type="text" id="customerName" class="form-control"
                                                        placeholder="Enter Company Name" formControlName="name" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('name').touched && createCompanyForm.get('name').hasError('required')"
                                                        class="text-red">Company Name Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="customerName" class="form-label">Company Displaying
                                                        Name</label>
                                                    <input type="text" id="customerName" class="form-control"
                                                        placeholder="Enter Company Displaying Name"
                                                        formControlName="displayName" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('displayName').touched && createCompanyForm.get('displayName').hasError('required')"
                                                        class="text-red">Company Displaying
                                                        Name Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invBankName" class="form-label">Issuing Auhority</label>
                                                    <input type="text" id="invBankName" class="form-control"
                                                        placeholder="Enter Issuing Auhority"
                                                        formControlName="issuingAuthority" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('issuingAuthority').touched && createCompanyForm.get('issuingAuthority').hasError('required')"
                                                        class="text-red">Issuing Auhority Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invPhoneNumber" class="form-label">Terminal License
                                                        No.</label>
                                                    <input type="text" id="invPhoneNumber" class="form-control"
                                                        placeholder="Enter Terminal License No."
                                                        formControlName="licenseNo" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('licenseNo').touched && createCompanyForm.get('licenseNo').hasError('required')"
                                                        class="text-red">Terminal License
                                                        No. Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invPhoneNumber" class="form-label">Issuing Date</label>
                                                    <input type="date" id="invPhoneNumber" class="form-control"
                                                        placeholder="Enter Issuing Date"
                                                        formControlName="issuingDate" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('issuingDate').touched && createCompanyForm.get('issuingDate').hasError('required')"
                                                        class="text-red">Issuing Date Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invPhoneNumber" class="form-label">Expiring Date</label>
                                                    <input type="date" id="invPhoneNumber" class="form-control"
                                                        placeholder="Enter Expiring Date"
                                                        formControlName="expiringDate" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('expiringDate').touched && createCompanyForm.get('expiringDate').hasError('required')"
                                                        class="text-red">Expiring Date Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invPhoneNumber" class="form-label">Tax Registration
                                                        Status</label>
                                                    <input type="text" id="invPhoneNumber" class="form-control"
                                                        placeholder="Enter Tax Registration Status"
                                                        formControlName="taxRegistrationStatus" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('taxRegistrationStatus').touched && createCompanyForm.get('taxRegistrationStatus').hasError('required')"
                                                        class="text-red">Tax Registration
                                                        Status Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invPhoneNumber" class="form-label">Tax Registration
                                                        No.(Corporate)</label>
                                                    <input type="text" id="invPhoneNumber" class="form-control"
                                                        placeholder="Enter Tax Registration No."
                                                        formControlName="taxRegistrationNo" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('taxRegistrationNo').touched && createCompanyForm.get('taxRegistrationNo').hasError('required')"
                                                        class="text-red">Tax Registration
                                                        No.(Corporate) Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invBankName" class="form-label">Phone</label>
                                                    <input type="text" id="invBankName" class="form-control"
                                                        placeholder="Enter Phone Number" formControlName="phone" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('phone').touched && createCompanyForm.get('phone').hasError('required')"
                                                        class="text-red">Phone No. Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invBankName" class="form-label">Email</label>
                                                    <input type="text" id="invBankName" class="form-control"
                                                        placeholder="Enter Email" formControlName="email" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('email').touched && createCompanyForm.get('email').hasError('required')"
                                                        class="text-red">Email Address Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invBankName" class="form-label">Fax</label>
                                                    <input type="text" id="invBankName" class="form-control"
                                                        placeholder="Enter Fax" formControlName="fax" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('fax').touched && createCompanyForm.get('fax').hasError('required')"
                                                        class="text-red">Fax Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invBankName" class="form-label">PO Box No.</label>
                                                    <input type="text" id="invBankName" class="form-control"
                                                        placeholder="Enter PO Box No." formControlName="poBoxNo" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('poBoxNo').touched && createCompanyForm.get('poBoxNo').hasError('required')"
                                                        class="text-red">PO Box No. Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-2">
                                                    <label for="msgCustomer" class="form-label">Registered
                                                        Address</label>
                                                    <textarea rows="3" id="msgCustomer" class="form-control"
                                                        formControlName="registeredAddress"></textarea>
                                                    <span
                                                        *ngIf="createCompanyForm.get('registeredAddress').touched && createCompanyForm.get('registeredAddress').hasError('required')"
                                                        class="text-red">Registered
                                                        Address Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-2">
                                                    <label for="msgCustomer" class="form-label">Alternate
                                                        Address</label>
                                                    <textarea rows="3" id="msgCustomer" class="form-control"
                                                        formControlName="alternateAddress"></textarea>
                                                    <span
                                                        *ngIf="createCompanyForm.get('alternateAddress').touched && createCompanyForm.get('alternateAddress').hasError('required')"
                                                        class="text-red">Alternate
                                                        Address Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-2">
                                                    <label for="msgCustomer" class="form-label">Business Activities (As
                                                        Per License)</label>
                                                    <textarea rows="3" id="msgCustomer" class="form-control"
                                                        formControlName="businessActivities"></textarea>
                                                    <span
                                                        *ngIf="createCompanyForm.get('businessActivities').touched && createCompanyForm.get('businessActivities').hasError('required')"
                                                        class="text-red">Business Activities (As
                                                        Per License) Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invBankName" class="form-label">Signatory Authority
                                                        Name</label>
                                                    <input type="text" id="invBankName" class="form-control"
                                                        placeholder="Enter Signatory Authority Name"
                                                        formControlName="authorityName" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('authorityName').touched && createCompanyForm.get('authorityName').hasError('required')"
                                                        class="text-red">Signatory Authority
                                                        Name Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invBankName" class="form-label">Signatory Authority
                                                        Contact Details</label>
                                                    <input type="text" id="invBankName" class="form-control"
                                                        placeholder="Enter Signatory Authority Contact Details"
                                                        formControlName="authorityContact" />
                                                    <span
                                                        *ngIf="createCompanyForm.get('authorityContact').touched && createCompanyForm.get('authorityContact').hasError('required')"
                                                        class="text-red">Signatory Authority
                                                        Contact Details Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>


                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invEmail" class="form-label">Document Type</label>
                                                    <input matInput placeholder="Document Type"
                                                        aria-label="Bank Percentage" [matAutocomplete]="auto"
                                                        class="form-select" [ngModel]="optletPerc"
                                                        formControlName="documentType">
                                                    <mat-autocomplete #auto="matAutocomplete">
                                                        <mat-option *ngFor="let option of options" [value]="option">
                                                            {{option}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                    <span
                                                        *ngIf="createCompanyForm.get('documentType').touched && createCompanyForm.get('documentType').hasError('required')"
                                                        class="text-red">Document Type Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>

                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invNumber" class="form-label">Document Upload</label>
                                                    <input type="file" id="invNumber" class="form-control"
                                                        placeholder="Enter Document Upload"
                                                        (change)="handleFileInput($event)" />
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-2">
                                                    <label for="msgCustomer" class="form-label">Message</label>
                                                    <textarea rows="3" id="msgCustomer" class="form-control"
                                                        formControlName="message"></textarea>
                                                    <span
                                                        *ngIf="createCompanyForm.get('message').touched && createCompanyForm.get('message').hasError('required')"
                                                        class="text-red">Message Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>

                                        </div>
                                        <!-- Row end -->
                                    </div>
                                </div>
                                <!-- Row end -->
                                <button class="btn btn-info mt-3" type="submit">
                                    Submit
                                </button>
                            </div>
                        </form>

                        <!-- Row start -->

                        <!-- Row end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>
<!-- Content wrapper scroll end -->