<!-- Content wrapper scroll start -->
<div class="content-wrapper-scroll">

    <!-- Main header starts -->
    <div class="main-header d-flex align-items-center justify-content-between position-relative">
        <div class="d-flex align-items-center justify-content-center">
            <div class="page-icon pe-3">
                <i class="bi bi-stickies"></i>
            </div>
            <div class="page-title d-none d-md-block">
                <h5>Company Master</h5>
            </div>
        </div>
        <!-- Live updates start -->
        <ul class="updates d-flex align-items-end flex-column overflow-hidden" id="updates">
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-envelope-paper text-red font-2x me-2"></i>
                    <span>12 emails from David Michaiah.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-bar-chart text-blue font-2x me-2"></i>
                    <span>15new features updated successfully.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-folder-check text-yellow font-2x me-2"></i>
                    <span>The media folder is created successfully.</span>
                </a>
            </li>
        </ul>
        <!-- Live updates end -->
    </div>
    <!-- Main header ends -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Row start -->
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Create Company Master </div>
                    </div>
                    <div class="card-body">
                        <div class="create-invoice-wrapper">
                            <!-- Row start -->
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <!-- Row start -->
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="customerName" class="form-label">Company Name</label>
                                                <input type="text" id="customerName" class="form-control"
                                                    placeholder="Enter Company Name" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="customerName" class="form-label">Company Displaying Name</label>
                                                <input type="text" id="customerName" class="form-control"
                                                    placeholder="Enter Company Displaying Name" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invBankName" class="form-label">Issuing Auhority</label>
                                                <input type="text" id="invBankName" class="form-control"
                                                    placeholder="Enter Issuing Auhority" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invPhoneNumber" class="form-label">Terminal License No.</label>
                                                <input type="text" id="invPhoneNumber" class="form-control"
                                                    placeholder="Enter Terminal License No." />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invPhoneNumber" class="form-label">Issuing Date</label>
                                                <input type="date" id="invPhoneNumber" class="form-control"
                                                    placeholder="Enter Issuing Date" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invPhoneNumber" class="form-label">Expiring Date</label>
                                                <input type="date" id="invPhoneNumber" class="form-control"
                                                    placeholder="Enter Expiring Date" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invPhoneNumber" class="form-label">Tax Registration Status</label>
                                                <input type="text" id="invPhoneNumber" class="form-control"
                                                    placeholder="Enter Tax Registration Status" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invPhoneNumber" class="form-label">Tax Registration No.(Corporate)</label>
                                                <input type="text" id="invPhoneNumber" class="form-control"
                                                    placeholder="Enter Tax Registration No." />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invBankName" class="form-label">Phone</label>
                                                <input type="text" id="invBankName" class="form-control"
                                                    placeholder="Enter Phone Number" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invBankName" class="form-label">Email</label>
                                                <input type="text" id="invBankName" class="form-control"
                                                    placeholder="Enter Email" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invBankName" class="form-label">Fax</label>
                                                <input type="text" id="invBankName" class="form-control"
                                                    placeholder="Enter Fax" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invBankName" class="form-label">PO Box No.</label>
                                                <input type="text" id="invBankName" class="form-control"
                                                    placeholder="Enter PO Box No." />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-2">
                                                <label for="msgCustomer" class="form-label">Registered Address</label>
                                                <textarea rows="3" id="msgCustomer" class="form-control"></textarea>
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-2">
                                                <label for="msgCustomer" class="form-label">Alternate Address</label>
                                                <textarea rows="3" id="msgCustomer" class="form-control"></textarea>
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-2">
                                                <label for="msgCustomer" class="form-label">Business Activities (As Per License)</label>
                                                <textarea rows="3" id="msgCustomer" class="form-control"></textarea>
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invBankName" class="form-label">Signatory Authority Name</label>
                                                <input type="text" id="invBankName" class="form-control"
                                                    placeholder="Enter Signatory Authority Name" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invBankName" class="form-label">Signatory Authority Contact Details</label>
                                                <input type="text" id="invBankName" class="form-control"
                                                    placeholder="Enter Signatory Authority Contact Details" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>


                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invEmail" class="form-label">Document Type</label>
                                                <input matInput placeholder="Document Type" aria-label="Bank Percentage"
                                                    [matAutocomplete]="auto" class="form-select" [ngModel]="optletPerc" >
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option *ngFor="let option of options"
                                                        [value]="option">
                                                        {{option}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                       
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-3">
                                                <label for="invNumber" class="form-label">Document Upload</label>
                                                <input type="file" id="invNumber" class="form-control"
                                                    placeholder="Enter Document Upload" />
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <!-- Form group start -->
                                            <div class="mb-2">
                                                <label for="msgCustomer" class="form-label">Message</label>
                                                <textarea rows="3" id="msgCustomer" class="form-control"></textarea>
                                            </div>
                                            <!-- Form group end -->
                                        </div>
                                        
                                    </div>
                                    <!-- Row end -->
                                </div>
                            </div>
                            <!-- Row end -->
                        </div>

                        <!-- Row start -->

                        <!-- Row end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>
<!-- Content wrapper scroll end -->