<!-- Content wrapper scroll start -->
<div class="content-wrapper-scroll">

    <!-- Main header starts -->
    <div class="main-header d-flex align-items-center justify-content-between position-relative">
        <div class="d-flex align-items-center justify-content-center">
            <div class="page-icon pe-3">
                <i class="bi bi-stickies"></i>
            </div>
            <div class="page-title d-none d-md-block">
                <h5>Product Master</h5>
            </div>
        </div>
        <!-- Live updates start -->
        <ul class="updates d-flex align-items-end flex-column overflow-hidden" id="updates">
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-envelope-paper text-red font-2x me-2"></i>
                    <span>12 emails from David Michaiah.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-bar-chart text-blue font-2x me-2"></i>
                    <span>15new features updated successfully.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-folder-check text-yellow font-2x me-2"></i>
                    <span>The media folder is created successfully.</span>
                </a>
            </li>
        </ul>
        <!-- Live updates end -->
    </div>
    <!-- Main header ends -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Row start -->
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Create Product Master</div>
                    </div>
                    <div class="card-body">
                        <div class="create-invoice-wrapper">
                            <!-- Row start -->
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <form [formGroup]="createProductForm" (ngSubmit)="submitProductForm()">
                                    <!-- Row start -->
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="customerName" class="form-label">Product Name</label>
                                                    <input type="text" id="customerName" class="form-control"
                                                        placeholder="Enter Product Name" formControlName="name"/>
                                                    <span *ngIf="createProductForm.get('name').touched && createProductForm.get('name').hasError('required')" class="text-red">Product Name Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invEmail" class="form-label">Product Unit of
                                                        measurement</label>
                                                    <select class="form-select" formControlName="unit">
                                                        <option>Select Product Unit of measurement</option>
                                                        <option>test</option>
                                                        <option>test</option>
                                                        <option>test</option>
                                                    </select>
                                                    <span *ngIf="createProductForm.get('unit').touched && createProductForm.get('unit').hasError('required')" class="text-red">Product Unit Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invPhoneNumber" class="form-label">Base Rate(Sale)</label>
                                                    <input type="text" id="invPhoneNumber" class="form-control"
                                                        placeholder="Enter Base Rate(Sale)" formControlName="saleRate" />
                                                    <span *ngIf="createProductForm.get('saleRate').touched && createProductForm.get('saleRate').hasError('required')" class="text-red">Base Rate(Sale) Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-3">
                                                    <label for="invBankName" class="form-label">Base Rate(Purchase)</label>
                                                    <input type="text" id="invBankName" class="form-control"
                                                        placeholder="Enter Base Rate(Purchase)" formControlName="PurchaseRate" />
                                                    <span *ngIf="createProductForm.get('PurchaseRate').touched && createProductForm.get('PurchaseRate').hasError('required')" class="text-red">Base Rate(Purchase) Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <!-- Form group start -->
                                                <div class="mb-2">
                                                    <label for="msgCustomer" class="form-label">Message</label>
                                                    <textarea rows="3" id="msgCustomer" class="form-control" formControlName="message"></textarea>
                                                    <span *ngIf="createProductForm.get('message').touched && createProductForm.get('message').hasError('required')" class="text-red">Message Required</span>
                                                </div>
                                                <!-- Form group end -->
                                            </div>
                                            <button class="btn btn-info mt-3" type="submit">
                                                Submit
                                            </button>
                                        </div>
                                </form>
                                    <!-- Row end -->
                                </div>
                            </div>
                            <!-- Row end -->
                        </div>

                        <!-- Row start -->

                        <!-- Row end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>
<!-- Content wrapper scroll end -->