<!-- Content wrapper scroll start -->
<div class="content-wrapper-scroll">

    <!-- Main header starts -->
    <div class="main-header d-flex align-items-center justify-content-between position-relative">
        <div class="d-flex align-items-center justify-content-center">
            <div class="page-icon pe-3">
                <i class="bi bi-house"></i>
            </div>
            <div class="page-title d-none d-md-block">
                <h5>Customer List</h5>
            </div>
        </div>
        <!-- Live updates start -->
        <ul class="updates d-flex align-items-end flex-column overflow-hidden" id="updates">
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-envelope-paper text-red font-2x me-2"></i>
                    <span>12 emails from David Michaiah.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-bar-chart text-blue font-2x me-2"></i>
                    <span>15 new features updated successfully.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-folder-check text-yellow font-2x me-2"></i>
                    <span>The media folder is created successfully.</span>
                </a>
            </li>
        </ul>
        <!-- Live updates end -->
    </div>
    <!-- Main header ends -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Customer History</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <td>Id</td>
                                        <td>Customer Name</td>
                                        <td>Bank Percentage</td>
                                        <td>Margin Percentage</td>
                                        <td>Total Invoice with bank%</td>
                                        <td>Total Margin Amt.</td>
                                        <td>Total Invoice</td>
                                        <td>Last seen</td>
                                        <td>Email</td>
                                        <td>Phone</td>
                                        <td>Amount</td>
                                        <td>Due Date</td>
                                        <td>Status</td>
                                        <td>Request</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/user7.png" class="img-4x rounded-5 me-3"
                                                    alt="Avatar" />
                                                <p class="m-0">Felicia Quinn</p>
                                            </div>
                                        </td>
                                        <td>10 %</td>
                                        <td>10 %</td>
                                        <td>10 %</td>
                                        <td>10 %</td>
                                        <td>10</td>
                                        <td>2 Hours Ago</td>
                                        <td>info@example.com</td>
                                        <td>(128) 898-0326</td>
                                        <td>$250.00</td>
                                        <td>9/10/2022</td>
                                        <td>
                                            <span class="badge shade-light-green">Paid</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary">Request</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/user9.png" class="img-4x rounded-5 me-3"
                                                    alt="Avatar" />
                                                <p class="m-0">Carly French</p>
                                            </div>
                                        </td>
                                        <td>20 %</td>
                                        <td>20 %</td>
                                        <td>20 %</td>
                                        <td>20 %</td>
                                        <td>20</td>
                                        <td>2 Hours Ago</td>
                                        <td>info@example.com</td>
                                        <td>(998) 765-8876</td>
                                        <td>$320.00</td>
                                        <td>10/10/2022</td>
                                        <td>
                                            <span class="badge shade-light-yellow">Pending</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary">Request</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/user10.png" class="img-4x rounded-5 me-3"
                                                    alt="Avatar" />
                                                <p class="m-0">Dana Moore</p>
                                            </div>
                                        </td>
                                        <td>30 %</td>
                                        <td>30 %</td>
                                        <td>30 %</td>
                                        <td>30 %</td>
                                        <td>30</td>
                                        <td>5 Hours Ago</td>
                                        <td>info@example.com</td>
                                        <td>(172) 982-4543</td>
                                        <td>$170.00</td>
                                        <td>15/10/2022</td>
                                        <td>
                                            <span class="badge shade-light-red">Overdue</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary">Request</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/user12.png" class="img-4x rounded-5 me-3"
                                                    alt="Avatar" />
                                                <p class="m-0">Willa Henry</p>
                                            </div>
                                        </td>
                                        <td>40 %</td>
                                        <td>40 %</td>
                                        <td>40 %</td>
                                        <td>40 %</td>
                                        <td>40</td>
                                        <td>1 Day Ago</td>
                                        <td>info@example.com</td>
                                        <td>(156) 981-2561</td>
                                        <td>$410.00</td>
                                        <td>18/10/2022</td>
                                        <td>
                                            <span class="badge shade-light-green">Paid</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary">Request</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/user20.png" class="img-4x rounded-5 me-3"
                                                    alt="Avatar" />
                                                <p class="m-0">Oriel Row</p>
                                            </div>
                                        </td>
                                        <td>50 %</td>
                                        <td>50 %</td>
                                        <td>50 %</td>
                                        <td>50 %</td>
                                        <td>50</td>
                                        <td>2 Days Ago</td>
                                        <td>info@example.com</td>
                                        <td>(888) 676-8870</td>
                                        <td>$280.00</td>
                                        <td>21/10/2022</td>
                                        <td>
                                            <span class="badge shade-light-yellow">Pending</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary">Request</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/user2.png" class="img-4x rounded-5 me-3"
                                                    alt="Avatar" />
                                                <p class="m-0">Jim Kelly</p>
                                            </div>
                                        </td>
                                        <td>60 %</td>
                                        <td>60 %</td>
                                        <td>60 %</td>
                                        <td>60 %</td>
                                        <td>60</td>
                                        <td>3 Day Ago</td>
                                        <td>info@example.com</td>
                                        <td>(221) 888-9999</td>
                                        <td>$220.00</td>
                                        <td>21/10/2022</td>
                                        <td>
                                            <span class="badge shade-light-green">Paid</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary">Request</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav aria-label="Page Navigation">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">
                                                <i class="bi bi-arrow-left"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">5</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">6</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">7</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">
                                                <i class="bi bi-arrow-right"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>
<!-- Content wrapper scroll end -->